.betSettings {
    grid-area: betSettings;
    display: grid;
    grid-template-areas:
        "betMinusButton      betDisplayArea      betPlusButton";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
}

.betMinusButton {
    grid-area: betMinusButton;
    background-image: url("../assets/console/minusButton.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.betDisplayArea {
    grid-area: betDisplayArea;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 48px;
    color: white;
}

.betPlusButton {
    grid-area: betPlusButton;
    background-image: url("../assets/console/plusButton.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.spinButton {
    grid-area: spinButton;
    background-image: url("../assets/console/spinButton.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.autoplayButton {
    grid-area: autoplayButton;
    background-image: url("../assets/console/autoplayButton.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}