
@-webkit-keyframes spinReelOut {
    0% {
        top: 0%;
        filter: blur(0px);
    }

    40% {
        top: -10%;
    }

    100% {
        top: 133%;
        filter: blur(2px);
    }
}

@-webkit-keyframes spinReelIn {
    from {
        top: -100%;
        filter: blur(2px);
    }

    to {
        top: 0%;
        filter: blur(0px);
    }
}

/* Spin Start */

@-webkit-keyframes spinsymbol_0_-1_ {
    from {
        top: -33.33%;
        opacity: 100%;
    }

    to {
        top: 100%;
    }
}

@-webkit-keyframes spinsymbol_0_0_ {
    from {
        top: 0%;
        opacity: 100%;
    }

    to {
        top: 100%;
    }
}

@-webkit-keyframes spinsymbol_0_1_ {
    from {
        top: 33.33%;
        opacity: 100%;
    }

    to {
        top: 100%;
    }
}

@-webkit-keyframes spinsymbol_0_2_ {
    from {
        top: 66.66%;
        opacity: 100%;
    }

    to {
        top: 100%;
    }
}

/* Generic spin */

@-webkit-keyframes genericSymbolSpin {
    from {
        top: -33.33%;
        opacity: 100%;
    }

    to {
        top: 100%;
    }
}

/* Spin Resolve */

@-webkit-keyframes resolvesymbol_0_-1_ {
    from {
        top: -33.33%;
        opacity: 100%;
    }

    to {
        top: -33.33%;
        opacity: 100%;
    }
}

@-webkit-keyframes resolvesymbol_0_0_ {
    from {
        top: -33%;
        opacity: 100%;
    }

    to {
        top: 0%;
        opacity: 100%;
    }
}

@-webkit-keyframes resolvesymbol_0_1_ {
    from {
        top: -33.33%;
        opacity: 100%;
    }

    to {
        top: 33.33%;
        opacity: 100%;
    }
}

@-webkit-keyframes resolvesymbol_0_2_ {
    from {
        top: -33.33%;
        opacity: 100%;
    }

    to {
        top: 66.66%;
        opacity: 100%;
    }
}